
*{
    padding: 0;
    margin: 0;
}

.w-f{
width: 100%;
}

.h-f{
height: 100%;
}

.w-dvw{
min-width: 100dvw;
}

.h-dvh{
min-height: 100dvh;
}

.flex-row{
display: flex;
flex-direction: row;
}

.flex-col{
display: flex;
flex-direction: column;
}

.header{

    background-color: brown;
color: aqua;
justify-content: center;
align-items: center;
height: 64px;

font-size: 32px;
}

.grow{
    flex-grow: 1;
}

.find{
    width: 173px;
   background-color: rgb(106, 106, 106);
    
}

.find a:hover{
    background-color: blueviolet;
}

.find a:hover::after{
    content: '?';
}

